<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Listagem', boxes_path %></li>
  <li class="active"><%= link_to 'Nova Caixa', new_box_path %></li>
</ul>

<h2>Nova Caixa de Cápsulas</h2>

<%= render 'form' %>

<%= link_to boxes_path, class: 'btn btn-info btn-xs' do %>
	<i class="glyphicon glyphicon-arrow-left"></i> Voltar
<% end %>

