<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Listagem', brands_path %></li>
  <li class="active"><%= link_to 'Nova Marca', new_brand_path %></li>
</ul>

<h2>Nova Marca de Café</h2>

<%= render 'form' %>

<%= link_to brands_path, class: 'btn btn-info btn-xs' do %>
	<i class="glyphicon glyphicon-arrow-left"></i> Voltar
<% end %>

